main ul li {
    list-style: none;
    line-height: 2.5rem;
}

.actors, .directors {
    text-align: center;
    display: inline-block;
    margin: 0 2vw 2vw 2vw;
}

.imatgeActor, .imatgeDirector {
    width: 20vw;
    height: 20vw;
    object-fit: cover;
    align-items: center;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.imatgeActor:hover + .textActor, .imatgeDirector:hover + .textDirector  {
    text-decoration: 2px underline;
}

.textActor, .textDirector {
    display: block;
    text-align: center;
}

.distribuidores, .productores {
    display: inline-block;
    margin: 0 2vw 0 2vw;
}

.imgDistribuidores, .imgProductores {
    width: 5vw;
    height: auto;
}

.trama {
    padding: 1vh;
    display: inline-block;
    width: 25vw;
    height: auto;
    border-radius: 15px;
    margin: 0 2vw 0 2vw;
    color: white;
    background-color: #354259;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.titolTrama {
    font-size: 25px;
}

.textTrama {
    font-size: 17px;
    line-height: 1.75rem;
}

.trama:hover .titolTrama {
    text-decoration: 2px underline;
} 